.access-form input[type="password"] {
    border: 1px #e9edf8 solid;
    width: 100%;
    height: 44px;
    background: transparent;
    padding-left: 40px;
    padding-right: 20px;
    outline: none;
    font-family: Roboto;
    font-size: 15px;
    color: #a6abab;
}

.access-form input[type="text"] {
    border: 1px #e9edf8 solid;
    width: 100%;
    height: 44px;
    background: transparent;
    padding-left: 40px;
    padding-right: 20px;
    outline: none;
    font-family: Roboto;
    font-size: 15px;
    color: #a6abab;
}

.help-block-error, .help-block {
    color: #de012f;
}

#memebers_wrapper {
    width: 80%;
    margin: 20px 20px;
}

.my-content {
    height: 100%;
}

.attachment {
    display: flex;
}

.attachment img {
    width: 100px;
}

.attachment .delete-attachment {
    cursor: pointer;
}
.user-name{
    position: relative;
}
.user-name .user-down {
    position: absolute;
    width: 115px;
    /*height: 18px;
    background: #e7e7e7;
    text-align: right;*/
}
.user-name .user-down a {
    text-decoration: underline;
}
.fa{
    cursor: pointer;
}

.fa-archive-active {
    color: #333;
}
#projects-pending_approval{
    color: #de012f;
}
#projects-submitted{
    color: #96d700;
}
#projects-submission_process{
    color: #512178;
}
#w0 label input[type="checkbox"] {
    display: block;
}
.user-tag {
    position: relative;
    width: 100%;
}
.user-tag-list{
    position: absolute;
    background: #c0c6ca;
    width: 200px;
    border-radius: 2px;
    height: 120px;
    overflow: auto;
    bottom: 0;
    left: 199px;
}
.user-tag-list li {
    cursor: pointer;
    margin: 1px;
    padding: 5px 8px;
    border: 1px solid #7b7676;
    border-radius: 3px;
}
.user-tag-list li:hover{
    background: #b0b6ba;
}

.user-tag-list li.active-u{
    background: #b0b6ba;
}

#id_sent_comment{
    cursor: pointer;
}